body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #f0e7d5;
    background-color: #252525;
    background: #252525;
}

/**
 * Lists
 */
ul, ol {
    margin-left: 30px;
}

li {
    > ul, > ol {
        margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    color: #e8e8e8;
    font-weight: normal;
}

.avatar {
    width: 254px;
    height: auto;
}

/**
 * Links
 */
a {
    color: #ffaa00;
    text-decoration: none;
}
a:visited {
    color: #ffbb22;
}

a:hover {
    color: #ffdd00;
}

/**
 * Header Link
 */
.header-link {
    margin-left: -35px;
    margin-right: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link, h6:hover .header-link {
    opacity: 1;
}

.wrapper {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
    margin-bottom: 15px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

/**
 * Site footer
 */
.site-footer {
    padding: 30px 0;
    text-align: center;
}

.site-footer .footer-social {
    margin-bottom: 15px;
}

.site-footer .footer-social > a {
    margin-right: 15px;
}

.site-footer .footer-description {
    font-size: 16px;
    font-style: italic;
}

/**
 * Code formatting
 */
.hljs {
    background: transparent;
}

pre {
    background-color: transparent;
}
