.DS_Store

node_modules/
/NetBeansApps/ProfileMatchAppJSF2.x/nbproject/private/
/NetBeansApps/ProfileMatchAppJSF2.x/build/

*.class
/NetBeansApps/StockQuoteWS/nbproject/private/
/NetBeansApps/StockQuoteWS/build/
/NetBeansApps/StockQuoteWSClient/nbproject/private/
/NetBeansApps/StockQuoteWSClient/build/